#grid {
  position: relative;
  top: 10px;
  left: 58px;
}
#playBoard {
  width: 560px;
  height: 560px;
  border-radius: 0px;
  background: lightblue;
}
.box {
  font-family: 'Times New Roman';
  font-size: 30px;
  width: 140px;
  height: 140px;
  background: steelBlue;
  float: left;
  line-height: 140px;
  text-align: center;
  border-color: lightblue;
  border-style: inset;
  color: white;
}
#controlPanel {
  position: absolute;
  top: 465px;
  left: 5px;
  width: 560px;
  height: 125px;
}
#movesInc {
  position: absolute;
  font-family: 'Times New Roman';
  top: 20px;
  left: 160px;
  right: 0px;
  bottom: 0px;
  font-weight: bold;
  color: black;
}
#solution {
  position: absolute;
  font-family: 'Times New Roman';
  width: 80px;
  height: 60px;
  top: 18px;
  left: 330px;
  right: 0px;
  bottom: 0px;
  font-weight: bold;
  color: black;
}
table,
th {
  border: 1px solid black;
}
#msg {
  position: absolute;
  top: 60px;
  left: 160px;
  bottom: 0px;
  right: 0px;
  color: black;
  font-weight: bold;
  font-family: 'Times New Roman';
}
#shuffle {
  position: absolute;
  width: 75px;
  height: 40px;
  top: 12px;
  bottom: 0px;
  left: 430px;
  right: 0px;
}
ul.share-buttons {
  list-style: none;
  padding: 0;
}
ul.share li {
  display: inline;
}
.share-btn {
  width: 40px;
  height: 40px;
}
#winStreak {
  position: absolute;
  font-family: 'Times New Roman';
  top: 70px;
  left: 440px;
  right: 0px;
  bottom: 0px;
  font-weight: bold;
  color: black;
}
