.key {
  width: 40px;
  height: 40px;
  float: left;
  text-align: center;
  font-family: 'Times New Roman';
  font-size: 25px;
  border-color: white;
  border-style: solid;
  color: white;
  background: black;
}
ul.share-buttons {
  list-style: none;
  padding: 0;
}
ul.share li {
  display: inline;
}
.share-btn {
  width: 25px;
  height: 25px;
}
.letterOnScreen {
  position: relative;
  width: 50px;
  height: 50px;
  float: left;
  text-align: center;
  font-family: 'Times New Roman';
  font-size: 25px;
  background: black;
  display: table;
  margin: 0 auto;
}
#gameBoard {
  position: relative;
  width: 600px;
  height: 650px;
  background: steelblue;
}
#keyboard {
  position: relative;
  top: 380px;
  left: 70px;
}
#row0 {
  position: absolute;
  top: 0px;
  left: 15px;
}
#row1 {
  position: absolute;
  top: 50px;
  left: 40px;
}
#row2 {
  position: absolute;
  top: 100px;
  left: 60px;
}
#row3 {
  position: absolute;
  top: 150px;
  left: 85px;
}
#gameScreen {
  position: absolute;
  top: 235px;
  left: 10px;
  width: 580px;
  height: 130px;
  background: white;
}
#startScreen {
  position: absolute;
  top: 235px;
  left: 10px;
  width: 580px;
  height: 130px;
  line-height: 130px;
  z-index: 3;
  text-align: center;
  background: white;
}
#game {
  text-align: center;
  font-family: 'Times New Roman';
  font-size: 20px;
}
#scoreCard {
  position: absolute;
  top: 580px;
  left: 0px;
  width: 600px;
  height: 50px;
  color: white;
  text-align: center;
  background: black;
}
#confirmNext {
  position: absolute;
  top: 235px;
  left: 10px;
  width: 580px;
  height: 130px;
  z-index: 1;
  color: black;
  text-align: center;
  font-family: 'Times New Roman';
  font-size: 20px;
  background: white;
}
#confirmGameOver {
  position: absolute;
  top: 230px;
  left: 10px;
  width: 580px;
  height: 130px;
  z-index: 2;
  color: black;
  text-align: center;
  font-family: 'Times New Roman';
  font-size: 20px;
  background: white;
}
hr {
  color: red;
}
#instruction2 {
  position: absolute;
  top: 632px;
  left: 0px;
  width: 600px;
  color: white;
  text-align: center;
  background: black;
}
#gameHint {
  position: absolute;
  top: 120px;
  left: 10px;
  right: 10px;
  width: 580px;
  height: 120px;
  color: white;
  text-align: left;
  font-family: 'georgia';
  font-size: 28px;
}
#gameMsg {
  position: absolute;
  top: 40px;
  left: 250px;
  width: 250px;
  height: 60px;
  text-align: center;
  z-index: 1;
  color: white;
  background: black;
}
#posterHolder {
  position: absolute;
  top: 0px;
  left: 500px;
  width: 100px;
  height: 100px;
  text-align: center;
  z-index: 1;
  background: black;
}
#strikesCount {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 600px;
  height: 100px;
  text-align: center;
  color: white;
  background: black;
}
#strike0 {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 30px;
  height: 30px;
  background: lightgreen;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 10px;
  text-align: center;
  color: black;
}
#strike1 {
  position: absolute;
  top: 50px;
  left: 100px;
  width: 30px;
  height: 30px;
  background: lightgreen;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 10px;
  text-align: center;
  color: black;
}
#strike2 {
  position: absolute;
  top: 50px;
  left: 150px;
  width: 30px;
  height: 30px;
  background: lightgreen;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 10px;
  text-align: center;
  color: black;
}
#strike3 {
  position: absolute;
  top: 50px;
  left: 200px;
  width: 30px;
  height: 30px;
  background: lightgreen;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 10px;
  text-align: center;
  color: black;
}
